name: CI/CD Pipeline

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Backend build
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - run: |
          cd backend
          npm install
          npm test

      # Frontend build
      - run: |
          cd frontend
          npm install
          npm run build

      # Docker login
      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push images
      - run: |
docker build -t thehamzaasif/backend ./backend
docker push thehamzaasif/backend
docker build -t thehamzaasif/frontend ./frontend
docker push thehamzaasif/frontend

