name: CI/CD Pipeline

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # Test Docker login
    - name: Docker Login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Test Docker build
    - name: Build backend image
      run: docker build -t thehamzaasif/backend ./backend

    - name: Build frontend image
      run: docker build -t thehamzaasif/frontend ./frontend
